/* #212121 - Колір заголовків тексту*/
/* #757575 - колір тексту*/
/* #2196F3 - синій колір в макеті (акцент)*/
/* #FFFFFF - білий колір тексту*/
/* #2F303A - background колір героя та футера */
/* #E5E5E5 - білий background колір сторінки */
/* #F5F4FA - трохи сіріший білий background колір сторінки */
/* rgba(255, 255, 255, 0.6) - колір ссилок футера */
/* Задаю колір сторінки сайту та основний колір тексту */
:root {
    --general-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #FFFFFF;
    --footer-second-text-color: rgba(255, 255, 255, 0.6);
    --bgc-button-color: #F5F4FA;
}
body {
    color: var(--general-text-color);
    background-color: #E5E5E5;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* Задаю колір частини логотипу */ 
.logo {
    color:var(--accent-color);

}
/* задаю колір другої частини тексту лого */
.logotext {
    color: var(--title-text-color);

    font-family: raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;       
}

.logotext:hover, .logotext:focus {
    color: var(--accent-color);
}
/* Прибираю крапки пунктів списку */
.list {
    list-style: none;
}
/* Задаю колір ссилок в блоці навігації */

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* задаю колір ссилок в блоці навігації при наваденні та переході */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* Задаю колір ссилок в блоці авторизації */
.auth-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* задаю колір ссилок в блоці авторизації при наваденні та переході */
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
/* задаю колір заголовків */
.hero-title {
    color: var(--second-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
       
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}
.featers {
    line-height: 1.71;    
}
.featers .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.team {
    
    font-size: 16px;
    line-height: 1.88px;
    
    
    text-align: center;
    
}
.team .title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
   
    
    text-align: center;
    
}

.logotextfoot {
    color: var(--second-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
} 
/* задаю колір тексту футера */
.footer-nav .link {
    color: var(--second-text-color);

    
    
    line-height: 1.71;  
   
}

/* задаю колір ссилок в футері при наваденні та переході */
.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
}

/* задаю колір контактів в футері */
.footer-nav .contact {
    color: var(--footer-second-text-color);
}

.footer-nav .contact:hover,
.footer-nav .contact:focus {
    color: var(--accent-color);
}
/* Оформляємо кнопки */
.button {
    color: var(--title-text-color);
    background-color: var(--bgc-button-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;      
    text-align: center;
    
}
.button:hover,
.button:focus {
    color: var(--second-text-color);
    background-color: var(--accent-color);
}
.button.invers {
    color: var(--second-text-color);
    background-color: var(--accent-color);

   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
        
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
footer {
    background-color: #2F303A;
}
.example {    
    font-size: 16px;
    line-height: 1.88;    
}
.example .title {
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;       
    letter-spacing: 0.06em;
}
