/* #212121 - Колір заголовків тексту*/
/* #757575 - колір тексту*/
/* #2196F3 - синій колір в макеті (акцент)*/
/* #FFFFFF - білий колір тексту*/
/* #2F303A - background колір героя та футера */
/* #E5E5E5 - білий background колір сторінки */
/* #F5F4FA - трохи сіріший білий background колір сторінки */
body {
    background-color: #E5E5E5;
    color: #757575;
}
.logo {
    color:#2196F3 ;
}